<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">
            <h2>Get in Touch</h2>
            <hr/>
            <form action="https://docs.google.com/forms/d/1DOxT0tkNRE35pucLyZMH_eght_Enhr0RcofOX-8C3xs/formResponse" method="post" id="application-form" target="_blank">
                <div class="form-group">
                    <label class="sr-only">E-mail</label>
                    <input type="text" name="emailAddress" id="emailAddress" class="form-control" placeholder="E-mail address">
                </div>
                <div class="form-group">
                    <label class="sr-only">Name</label>
                    <input type="text" name="entry.1690092949" id="entry_1690092949" class="form-control" placeholder="Name">
                </div>

                <div class="form-group">
                    <label class="sr-only">Textarea</label>
                    <textarea class="form-control" name="entry.363183783" id="entry_363183783" rows="10" placeholder="How can we help you?"></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-block btn-lg">Send</button>
            </form>
        </div>
        <div class="col-md-4 mb-3">
            <h2>Contact Us</h2>
            <hr/>
            <address>
                <strong>IMORO</strong>
                <br/>27 Cinnabar Road,
                <br/>
                Kingsland Terrace, Christ Church BB
                <br/>
            </address>
            <address>
                <span>Phone:</span>
                (246) 238 9344
                <br/>
                <span>Email:</span>
                <a href="mailto:imorotherapy@gmail.com">imorotherapy@gmail.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->
</div>