<!-- Start Main Banner -->
<section class="section pb-100 d-flex flex-column justify-content-center background-polymath">
    <div class="container section-parallax-img">
        <div class="row">
            <div class="col-10 mx-auto text-center">
                <header class="section-title section-title-default align-center mb-4" data-plugin-textslide="true" data-plugin-textslide-options="{&quot;element&quot;:&quot;div&quot;,&quot;autoplay&quot;:true,&quot;delay&quot;:2000}">
                    <h2 class="text xl mb-0 font-weight-bold">The Future of
                        <span class="typed-keywords">
                            <span class="keyword">Securities.</span>
                            <span class="keyword">Wall Street.</span>
                            <span class="keyword">Finance.</span>
                            <span class="keyword">Tokens.</span>
                        </span>
                    </h2>
                </header>
                <p class="color-faded mb-3 big">Polymath enables trillions of dollars of securities to migrate to the blockchain.</p>

                <div class="d-none d-lg-block">
                    <a href="/submission.html" class="btn btn-solid text-uppercase" style="border:none">
                        <span>
                            Create Security Token
                        </span>
                    </a>
                    <a href="/webinar.html" class="btn btn-default text-uppercase">
                        <span>
                            Schedule a Demo
                        </span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Main Banner -->