<!-- Start Main Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-white navBorder">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="z-index: 3;">
        <ul class="navbar-nav text-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solutions</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="issuers.html">Issuers</a>
                    <a class="dropdown-item" href="investors.html">Investors</a>
                    <a class="dropdown-item" href="serviceproviders.html">Service Providers</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="st20.html">ST-20 Standard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://blog.polymath.network/" target="_blank">Blog</a>
            </li>

        </ul>
    </div>
    <!-- <a class="navbar-brand mx-auto" href="#">Navbar</a> -->
    <a href="index.html" class="mx-auto" style="z-index: 3;">
        <img src="assets/images/logo/logo-top-bar.svg" alt="Polymath">
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav text-center">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="advisors.html">Advisors</a>
                    <a class="dropdown-item" href="https://polymath.bamboohr.com/jobs/" target="_blank">Careers</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://developers.polymath.network" target="_blank">Developers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
            </li>

        </ul>
    </div>

</nav>
<!-- End Main Header -->