	/* main: ../theme.scss*/

.fp-section {

	.fp-scroller,
	.fp-scrollable {
		overflow: visible;
	}

	.iScrollLoneScrollbar {
		display: none !important;
	}

	.vc_row-o-full-height {
		max-height: 100vh;
		min-height: 100vh !important;
	}

	.fp-tableCell {

		> .wpb_row {
			padding-top: 50px;
			padding-bottom: 50px;
			height: 100%;
		}
	}

	[data-fullpage-parallax] & {
		// will-change: auto;

		&:before {
			content: '';
			display: inline-block;
			width: 100vw;
			height: 100%;
			position: absolute;
			left: 50%;
			right: 50%;
			margin-left: -50vw;
			margin-right: -50vw;
			background-color: #fff;
		}
		.fp-tableCell {

			> .wpb_row {
				background-color: #fff;
			}
		}
		[data-vc-full-width] {
			// width: 100vw !important;
		}
		&.fp-leaving,
		&.fp-entering {
			// will-change: transform; // issues here http://chamonix.themerella.com/
			// transition: transform 0.9s cubic-bezier(0.32, 0.2, 0.15, 1);
		}
		&.fp-leaving {
			z-index: 1;
		}
		&.fp-entering {
			z-index: 10;
		}
		&.fp-leaving-to-bottom {
			transform: translateY(50%) translateZ(0);
		}
		&.fp-leaving-to-top {
			transform: translateY(-50%) translateZ(0);
		}
		&.fp-leaving-to-autoheight-row {
			transform: translateY(0) translateZ(0);
		}
	}

	&.main-footer {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;

		&:before {
			content: none;
		}
	}

	// &.fp-table {
	// 	display: flex;
	// 	flex-wrap: wrap;
	// 	align-items: stretch;
	// }
	// .fp-tableCell {
	// 	display: flex;
	// 	flex-flow: column wrap;
	// 	align-items: stretch;
	// 	flex-grow: 1;
	//
	// 	> .wpb_row,
	// 	> .section {
	// 		display: flex;
	// 		align-items: center;
	// 		flex-grow: 1;
	// 	}
	// }
}


@media screen and ( min-width: $grid-breakpoints-lg ) {

	.header-visible-first-section {

		.main-header {
			transition: opacity 0.3s, visibility 0.3s;
			opacity: 0;
			visibility: hidden;
		}
		&.fp-viewing-0 {

			.main-header {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
