// main: ../_theme-portfolio.scss

.grid {

	&.style-hover {
		position: relative;
		/* overflow: hidden;*/
		// margin-bottom: em(40);
		margin-bottom: 30px;
		padding-bottom: 75%;

		.portfolio-inner {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		.portfolio-main-image {

			figure {
				margin: 0;
			}
			> figure {

				> img {
					width: 100%;
					height: 100%;
					@include object-fit(cover);
				}
			}
		}
		.portfolio-content {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			-ms-flex-wrap: nowrap;
			    flex-wrap: nowrap;
			text-align: center;
			height: 100%;
			padding: em(21) 25px em(20);
		}
		.title-wrapper {
			/* margin-bottom: em(20);*/
			margin-bottom: em(8);

			.category {
				line-height: 1em;

				li {
					margin: 1em 0;
					line-height: inherit;
				}
			}
			h2 {
				margin-top: em(3);

				&:only-child {
					// margin-bottom: -0.3em !important;
				}
			}
		}
		.portfolio-summary {

			p {
				line-height: em(24, 13);
			}
		}
		.portfolio-footer {
			font-size: 1em;
		}
		.portfolio-likes {
			margin-bottom: em(3.5);

			i {
				width: auto;
				height: auto;
				line-height: normal;
				background-color: transparent !important;
			}
		}
		.portfolio-share {
			padding-top: 0;

			&:before {
				content: '';
				display: inline-block;
				width: 100%;
				height: 10px;
				position: absolute;
				top: -10px;
				left: 0;
			}
		}
		.portfolio-share-popup {
			top: auto;
			bottom: calc(100% - 10px)
		}
		.portfolio-share .btn,
		.btn {
			font-size: 14px;
			width: 43px;
			height: 43px;
			border: 1px solid rgba(0, 0, 0, 0.25);
			line-height: 43px;

			i {
				margin-left: 0;
			}
			&:hover {
				background-color: rgba(0, 0, 0, 0.25);
				border-color : transparent;
			}
		}
		.portfolio-share,
		.btn {

			+ .portfolio-share,
			+ .btn {
				margin-left: 0.45em;
			}
		}

		/* &.mh-applied {*/
		/**/
		/* 	.inner-wrapper,*/
		/* 	.portfolio-inner,*/
		/* 	.portfolio-main-image,*/
		/* 	.portfolio-main-image > figure {*/
		/* 		height: 100%;*/
		/* 	}*/
		/* }*/

		&.text-light {

			.portfolio-share .btn,
			.btn {
				border-width: 0;

				&:focus,
				&:hover {
					background: rgba(255, 255, 255, 0.25);
					color: #fff;
				}
			}
		}

		&.buttons-square {

			.portfolio-share .btn,
			.btn {

				&:hover {
					background: $color-primary
				}
			}
		}

		&.buttons-naked {

			.portfolio-share .btn,
			.btn {
				width: auto;
				height: auto;
				font-size: em(15);
				line-height: normal;
				margin: 0 9px;
				border: none;

				i {
					display: inline-block;
					font-size: 1em;
				}
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
				&:focus,
				&:hover {
					background-color: transparent;
				}
			}
		}

		&.hover-rectangular {

			.title-wrapper {
				margin-bottom: 0.2em;

				h2 {
					margin-bottom: 0;
					line-height: 1.2em;
				}
			}
			.portfolio-footer {
				width: 100%;
			}
			.portfolio-share,
			.btn {
				width: 56px;
				max-width: 24%;
				height: 46px;
				margin: 0;
				border-width: 1px;
				border-style: solid;
				border-right-width: 0;
				line-height: 44px;
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;

				+ .portfolio-share,
				+ .btn {
					margin-left: -4px;

					&:last-child {
						border-right-width: 1px;
					}
				}
				&:hover {
					background-color: transparent;
				}
			}
			.portfolio-share {
				margin-left: 0;
				vertical-align: middle;
				/* border: none;*/

				.btn {
					width: 100%;

					span {
						padding: 0;
					}
				}
			}
		}

		&.hover-gradient {

			.title-wrapper {
				margin-bottom: em(14);
			}
			.portfolio-summary {
				line-height: 1;

				p[data-lettering] {
					line-height: 1.4;
				}
			}
			.portfolio-footer {
				margin-top: em(5);
			}
		}

		&.hover-bottom {

			.portfolio-content {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
			}
			.title-wrapper {
				/* margin-top: 77.5%;*/
				@include position(absolute, null 0 0 0);
				padding-bottom: em(8);
				margin-bottom: 0;

				h2 {
					margin-bottom: 0;
				}
			}
			.portfolio-footer {
				-webkit-transform: translateY(-50%);
				        transform: translateY(-50%);
			}
			&:hover {

				.portfolio-footer {
					-webkit-transform: translateY(-100%);
					        transform: translateY(-100%);
				}
			}
			&.text-light {

				.btn {

					&:hover {
						background-color: $color-primary;
						opacity: 1;
					}
				}
			}
		}

		&.hover-light {
			/* min-height: 260px;*/

			.portfolio-content {
				width: calc( 100% - 20px );
				height: calc( 100% - 20px );
				/* min-height: 260px;*/
				padding-bottom: em(15);
				margin: 10px;
			}
			.portfolio-footer {
				/* margin-top: em(5);*/
			}
			.btn {
				font-size: 1em;
			}
		}

		&.hover-elegant {

			.portfolio-main-image:before {
				background: none;
			}
			.portfolio-content {
				/* margin-top: 73.5%;*/
				/* margin-bottom: 16%;*/
				padding-left: 35px;
				bottom: 40px;
				padding-top: 0;
				padding-bottom: 0;
				padding-right: 0;
				height: auto;
				// min-height: 0 !important;
				-webkit-box-align: start;
				    -ms-flex-align: start;
				        align-items: flex-start;
				text-align: left;
			}
			.portfolio-meta,
			.title-wrapper {
				padding-top: em(14);
				padding-bottom: em(14);
			}
			.title-wrapper {
				width: auto;
				margin: 0;

				h2 {
					margin: 0;
				}
			}
		}

		&.hover-bottom-shadow {
			// min-height: 0;

			.title-wrapper {
				padding-bottom: 0;

				h2 {
					margin-bottom: 0;
					line-height: 1.2;
				}
			}
			.portfolio-content {
				padding: 0 10% em(20);
				// min-height: 0;
				bottom: 0;
				-webkit-box-orient: vertical;
				-webkit-box-direction: reverse;
				    -ms-flex-direction: column-reverse;
				        flex-direction: column-reverse;
				-webkit-box-pack: start;
				    -ms-flex-pack: start;
				        justify-content: flex-start;
			}
			.portfolio-footer {
				font-size: 1em;
			}
			.btn {

				i {
					font-size: 1em;
				}
			}
		}

		&.hover-side {

			.portfolio-content {
				width: 100%;
				text-align: left;
				-webkit-box-align: start;
				    -ms-flex-align: start;
				        align-items: flex-start;
				-webkit-box-pack: start;
				    -ms-flex-pack: start;
				        justify-content: flex-start;
			}
			&:before {
				-webkit-transform: translateX(-10%) translateY(-14%) rotateZ(58deg);
				        transform: translateX(-10%) translateY(-14%) rotateZ(58deg);
			}
			.btn {
				font-size: 1em;
				top: -7px;
				margin: 15px 30px 5px !important;

				i {
					font-size: em(15, 35);
				}
				svg {
					width: 18px;
				}
			}
		}

		&.hover-only-icons {

			.portfolio-content {
				height: auto;
				// min-height: 0;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 0;
			}
			.portfolio-footer {
				width: 100%;
				position: relative;
				bottom: auto;
				left: auto;
				right: auto;
				margin: 0;
				font-size: 1em;

				@include clearfix;
			}
			.portfolio-share-popup {
				bottom: 100%;
				top: auto;
			}
			.portfolio-share {
				text-align: center;
				width: auto;
				height: auto;

				.btn {
					display: block;
				}
				&:hover {

					.portfolio-share-popup {
						-webkit-transform: translate3d(0, 0, 0);
						        transform: translate3d(0, 0, 0);
					}
				}
			}
			.portfolio-share .btn,
			.btn {
				width: auto;
				height: auto;
				margin: 0;
				font-size: em(15);

				span {
					display: inline-block;
					padding: em(4) 0;
				}
			}
		}

		&.hover-blur {

			.portfolio-content {
				width: auto;
				height: 100%;
				left: 0;
				right: 0;
			}
		}

		&.hover-frame {

			.portfolio-inner {

				&:before {
					width: 5px;
					top: 15px;
					bottom: 13px;
					left: 13px;
				}
				&:after {
					height: 5px;
					top: 13px;
					left: 13px;
					right: 13px;
				}
			}
			.portfolio-content {
				padding: em(28) 6% em(20);

				&:before {
					width: 5px;
					top: 13px;
					bottom: 15px;
					right: 13px;
				}
				&:after {
					height: 5px;
					bottom: 13px;
					left: 13px;
					right: 13px;
				}
			}
			.portfolio-summary {
				margin-bottom: em(18);
			}
			.portfolio-footer {
				margin-top: em(0);
			}
			.portfolio-share .btn,
			.btn {
				width: 43px;
				height: 43px;
				line-height: 41px;
				border: 1px solid rgba(255, 255, 255, 0.5);

				&:hover {
					border-color: #fff;
				}
			}

			.col-md-4 &,
			.col-md-6 & {

				.portfolio-inner,
				.portfolio-content {

					&:before {
						width: 5px;
					}
					&:after {
						height: 5px;
					}
				}
			}
		}

		&.hover-bottom-left {

			.portfolio-content {
				-webkit-box-align: start;
				    -ms-flex-align: start;
				        align-items: flex-start;
				-webkit-box-pack: end;
				    -ms-flex-pack: end;
				        justify-content: flex-end;
				width: auto;
				right: 0;
				text-align: left;
				padding-left: em(30);
				padding-bottom: em(30);
			}
			.portfolio-footer {
				margin-top: em(10);
				margin-bottom: em(20);
			}
			.portfolio-share-popup {
				bottom: auto;
				top: calc(100% + 30px);
			}
			.title-wrapper {

				&:only-child {

					.category {

						li {
							margin-bottom: 0;
						}
					}
				}
			}
		}
		&.hover-top-left {

			.portfolio-content {
				padding-top: em(60);
				padding-left: em(80);
				padding-bottom: em(30);
        align-items: flex-start;
        justify-content: flex-start;
				text-align: left;
			}

			.title-wrapper {

				h2 {
					font-size: em(60, 14);
					line-height: 1.15em;
				}
			}
		}
	}

	&.text-light {

		&.buttons-circle {

			.portfolio-share:hover .btn,
			.portfolio-share:hover .btn:hover,
			.btn:hover {
				background-color: rgba(0, 0, 0, 0.25);
				color: #fff;
			}
		}
	}

}

@media screen and ( min-width: $grid-breakpoints-lg ) {

	.grid {

		&.hover-frame {

			.portfolio-summary {
				width: auto;
			}
		}
	}
}
@media screen and ( min-width: $grid-breakpoints-lg ) {

	.grid {

		&.style-hover {
			// min-height: 280px;

			.portfolio-content,
			.inner-wrapper,
			.portfolio-main-image,
			.portfolio-main-image > figure,
			.portfolio-main-image > figure > img,
			.parallax-img-parent,
			.parallax-img-container,
			.aspect-ratio-container,
			.aspect-ratio-fill,
			.aspect-ratio-fill > img,
			.portfolio-inner {
				// min-height: 280px;

				.col-lg-6 & {
					// min-height: 400px;
				}
			}
			.section-parallax-img {
				// min-height: 350px;

				.col-lg-6 & {
					// min-height: 480px;
				}
			}

			.col-lg-6 & {
				// min-height: 400px;
			}
		}
	}

	.col-md-6 {

		.grid {

			&.hover-light {

				.portfolio-content {
					width: calc( 100% - 40px);
					height: calc( 100% - 40px);
					margin: 20px;
				}
			}
		}
	}
}

@media screen and ( max-width: $grid-breakpoints-md ) {

	.grid:not(.packery) {

		&.style-hover {

			.parallax-img-parent {
				height: 100% !important;
			}
		}
	}
	.grid {

		&.style-hover {
			// min-height: 280px;

			.portfolio-content,
			.inner-wrapper,
			.portfolio-main-image,
			.portfolio-main-image > figure,
			.portfolio-main-image > figure > img,
			.parallax-img-parent,
			.parallax-img-container,
			.aspect-ratio-container,
			.aspect-ratio-fill,
			.aspect-ratio-fill > img,
			.portfolio-inner {
				// min-height: 280px;
			}
			.section-parallax-img {
				// min-height: 350px;
			}
		}
	}
}
