.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  padding-top: 5%;
  background: grey;
  opacity: 0.5;
}

.team-member-name {
  padding-top: 60%;
}

.img-responsive {
  width: auto;
  /* height: 100%; */
}

.background-polymath {
  height: 700px;
  background: url("../images/bg/bg-newpolymath.png") no-repeat center center;
  /* background: url("../images/bg/bg_bull.png") no-repeat center center; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
}

#gifs-rows img {
  cursor: pointer;
}
#gifs-rows .gif-file {
  display: none;
}

.blue-card {
  background-image: linear-gradient(
    120deg,
    #252e6a 0%,
    #40487f 100%
  ) !important;
}

.gray-card {
  background-image: linear-gradient(
    120deg,
    #c1c6d2 0%,
    #71778f 100%
  ) !important;
}
