<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}

    <!-- Page Content -->
    <header id="hero" class="bg-success py-5 mb-5">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-8">
                    <h1 class="display-4 text-white mt-5 py-5 mb-2">
                        Contact Us
                    </h1>

                </div>
            </div>
        </div>
    </header>
    <section id="contact">
        {% include "partials/contactform.html" %}
    </section>
    <!-- /.container -->

{% endblock %}